# Python in-built data structure

1. List
2. Tuple
3. Set
4. Dictionary

In [21]:
# List

my_list = [1,2, 4, 5, 7,8 ,9 ,10]
my_list[-1]
my_list[::2]

[1, 4, 7, 9]

In [22]:
my_list[:]

[1, 2, 4, 5, 7, 8, 9, 10]

In [23]:
my_list[7:3:-1]

[10, 9, 8, 7]

In [24]:
my_list[3:7:-1]

[]

In [25]:
my_list[::-1]

[10, 9, 8, 7, 5, 4, 2, 1]

In [26]:
for i in range(len(my_list)):
    print(my_list[i])

1
2
4
5
7
8
9
10

In [27]:
for i in my_list:
    print(i)

1
2
4
5
7
8
9
10

In [28]:
a = [2,5, 6,7,8]
b = [True, False, 'c', 'd']
c = []
d = ['Hamed', 4, 7]

my_list = [a, b, c, d]
my_list

[[2, 5, 6, 7, 8], [True, False, 'c', 'd'], [], ['Hamed', 4, 7]]

In [29]:
my_list[1][2]

'c'

### List append()
`list.append()`

In [30]:
l = [3,4,5,-1]
l.append('hamed')
l

[3, 4, 5, -1, 'hamed']

### Insert
`insert(index, value)`

In [36]:
x = [3,4,5,6,-5,-3]
x.insert(3,'hamed')
x

[3, 4, 5, 'hamed', 6, -5, -3]

In [37]:
x.insert(-1, 45)
x

[3, 4, 5, 'hamed', 6, -5, 45, -3]

#### sort()
`list.sort()`

`list.sort(reverse = True)`

In [38]:
y = [4, -2, 67, -54, 2, 37]
y.sort()
y

[-54, -2, 2, 4, 37, 67]

In [40]:
y.sort(reverse=True)
y

[67, 37, 4, 2, -2, -54]

### extend()
`list.extend(another_list)`

In [45]:
a = [2,3,4]
b = [5,6,7,8]

a.extend(b)
a

[2, 3, 4, 5, 6, 7, 8]

### pop()

`list.pop()` -> remove last element from list

`list.pop(index)` -> Remove the element in the index

In [47]:
list = [2,3,4,5,6,7,8]
list.pop(3)
list

[2, 3, 4, 6, 7, 8]

### index()

`list.index(value)` -> return the index of that value

In [49]:
list = [3,2,4,56,7,4,3]
list.index(4)

2

### count()
`list.count(value)` -> count the number of times a value appears in the list

In [51]:
list = [2,5,6,7,8,5,4,3,5,4,5,6,5]
list.count(4)

2

# Tuple

In [52]:
a = (2,4,5)
type(a)

tuple

`list(tuple)` -> convert turple to list

In [53]:
my_tuple = (1,3,4,5)
list(my_tuple)

TypeError: 'list' object is not callable

##split()

`string.split()`

In [54]:
name = 'hamed sanusi tijani'
name.split()

['hamed', 'sanusi', 'tijani']

# Set

`set(list)`

In [57]:
my_list = [1,2,3,4,2,3,8,4,2,1,6,7]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 6, 7, 8}

In [58]:
len(my_set)

7

In [59]:
a = {3,5,6,7,8,10,4,2,1,4}
b = {9,2,0,5,6}

In [60]:
a.issubset(b)

False

In [61]:
b.issubset(a)

False

In [62]:
a.difference(b)

{1, 3, 4, 7, 8, 10}

In [63]:
a.issuperset(b)

False

In [64]:
a.isdisjoint(b)

False

In [65]:
a.intersection(b)

{2, 5, 6}

## Dictionary

`{key_1 : value_1, 
key_2 : value_2,
key_3 : value_3}`

`{}` -> Empty dictionary

`set()` -> Empty set

In [66]:
fruits = {'apple' : 80, 'banana' : 200, 'mango' : 250, 'orange' : 400}
fruits

{'apple': 80, 'banana': 200, 'mango': 250, 'orange': 400}

In [67]:
fruits.items()

dict_items([('apple', 80), ('banana', 200), ('mango', 250), ('orange', 400)])

In [68]:
for k,v in fruits.items():
    print(f'The price of {k} is {v}')

The price of apple is 80
The price of banana is 200
The price of mango is 250
The price of orange is 400

In [69]:
fruits.keys()

dict_keys(['apple', 'banana', 'mango', 'orange'])

In [70]:
fruits.values()

dict_values([80, 200, 250, 400])

In [71]:
fruit_names = ['mango', 'guava', 'pineapple', 'orange', 'apple']
price_list = [400, 200, 350, 150, 375]

fruit_dict = {}

for x, y in zip(fruit_names, price_list):
    if x not in fruit_dict:
        fruit_dict[x] = y
        
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 375}

# Dictionary methods

In [73]:
fruit_dict.get('appl', 'it does not exist')

'it does not exist'

In [74]:
'guava' in fruit_dict

True

In [ ]:
fruit_dict.pop('apple') # remove the key pair from the dictionary

375

In [76]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150}

In [77]:
fruit_dict.update({'apple': 40})

In [78]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 40}

In [ ]:
fruit_dict.__setitem__('apple', 70)

In [82]:
fruit_dict

{'mango': 400, 'guava': 200, 'pineapple': 350, 'orange': 150, 'apple': 70}