### Functions

### `sorted()` function in python
`sorted(iterable, key, reverse)`
- `iterable` -> list, dict, tuple etc
- `key` -> optional
- `reverse` -> optional boolean argument. if false, it sort in ascending and if true it sort in descending order

In [8]:
a = ['apple','grape', 'banana', 'fig', 'cherry', 'date', 'elderberry']

In [11]:
sorted(a)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape']

In [ ]:
a.sort() # you cannot assign it to a variable and also can only work on list.    
a

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape']

In [20]:
city = ['newyork', 'boston', 'miami', 'chicago', 'los angeles']
sorted(city, key=len, reverse=True)

['los angeles', 'newyork', 'chicago', 'boston', 'miami']

In [21]:
my_list = [[1,2,3], [4,5,6], [3,2,-1], [-4,5,6]]
sorted(my_list, key=sum)

[[3, 2, -1], [1, 2, 3], [-4, 5, 6], [4, 5, 6]]

### User defined function

In [22]:
def add_numbers(a, b):
    return a + b

add_numbers(5, 10)

15

In [30]:
my_list = [[1,2,3], [4,5,6], [3,2,-1], [-4,5,6]]

def sort_by_second_element(l):
    return l[1]

In [31]:
sorted(my_list, key=sort_by_second_element)

[[1, 2, 3], [3, 2, -1], [4, 5, 6], [-4, 5, 6]]

In [27]:
my_list[2]

[3, 2, -1]

In [32]:
fruit_items = {'apple' : 100, 'banana' : 80, 'cherry' : 120, 'date' : 90, 'fig' : 110}

In [33]:
sorted(fruit_items)

['apple', 'banana', 'cherry', 'date', 'fig']

In [35]:
sorted(fruit_items.items())

[('apple', 100), ('banana', 80), ('cherry', 120), ('date', 90), ('fig', 110)]

In [38]:
sorted(fruit_items.items(), key= sort_by_second_element)

[('banana', 80), ('date', 90), ('apple', 100), ('fig', 110), ('cherry', 120)]

In [40]:
sorted_dict = dict(sorted(fruit_items.items(), key= sort_by_second_element))

sorted_dict

{'banana': 80, 'date': 90, 'apple': 100, 'fig': 110, 'cherry': 120}

In [41]:
sorted_dict.update({'grape': 95})
sorted_dict

{'banana': 80,
 'date': 90,
 'apple': 100,
 'fig': 110,
 'cherry': 120,
 'grape': 95}

### Lambda Function

simple one line anonymous function used for quickly defining and using a function. It means it does not require a name

``` python
lambda variables : operation on the variables

example -> lambda x, y : x+ y
```

In [42]:
f = lambda x : x**2

f(5)

25

In [44]:
add_number = lambda x, y : x + y
add_number(10, 20)

30

In [46]:
fruit_items = {'apple' : 100, 'banana' : 80, 'cherry' : 120, 'date' : 90, 'fig' : 110}
sorted(fruit_items.items(), key = lambda x: x[1])

[('banana', 80), ('date', 90), ('apple', 100), ('fig', 110), ('cherry', 120)]

In [48]:
sorted(fruit_items.items(), key = lambda x: x[0])

[('apple', 100), ('banana', 80), ('cherry', 120), ('date', 90), ('fig', 110)]

In [56]:
sorted(fruit_items.values(), key=lambda x: x**2)

[80, 90, 100, 110, 120]

In [50]:
values = (-1, 4, 2, 3, -5, 0,-2)
sorted(values, key=lambda x: x**2)

[0, -1, 2, -2, 3, 4, -5]

### List Comprehension

In [59]:
my_list = [5, 2, 9, 1, 5, 6]

new_list = []

for x in my_list:
    new_list.append(x**2)

new_list

[25, 4, 81, 1, 25, 36]

In [60]:
number_list = [-2, -4, 1, 3, -1, 0, 5, -3]

new_number_list = [x**2 if x < 0 else x for x in number_list]
new_number_list

[4, 16, 1, 3, 1, 0, 5, 9]

In [61]:
values = [3, -2, 5, 12, 9, 25, 32, -4]
# create a new list from the values where the (element + 4)**2-10>0

new_list = [x for x in values if (x+4)**2 - 10 > 0]
new_list

[3, 5, 12, 9, 25, 32]

### function docstring

In [63]:
def add_numbers(num1, num2):
    """
    Description: This function adds two numbers and returns the sum.
    
    arguments:
    - num1: int or float, First number to be added
    - num2: int or float, Second number to be added
    
    returns:
    - int or float, Sum of num1 and num2
    
    example:
    >>> add_numbers(3, 5) -> 8
    >>> add_numbers(2.5, 4.5) -> 7.0
        
    """
    return num1 + num2

In [65]:
add_numbers(10, 20 )

30

#### Function arguments

1. Positional argument
2. Keyword arguments

Positional arguments
It is passed to a function based on their position or order.

In [68]:
def greet(name, greeting):
    print(f"{greeting}, {name}!")

In [69]:
greet('Bob', 'Welcome')

Welcome, Bob!

### Keyword arguments

In [70]:
greet(greeting='Hello', name='Alice')

Hello, Alice!

Default values

In [71]:
def greet(name, greeting="Hello"):
    """
    Description: This function greets a person with a given greeting.
    
    arguments:
    - name: str, Name of the person to be greeted
    - greeting: str, Greeting message (default is "Hello")
    
    returns:
    - str, Complete greeting message
    
    example:
    >>> greet("Alice") -> "Hello, Alice!"
    >>> greet("Bob", "Hi") -> "Hi, Bob!"
        
    """
    return f"{greeting}, {name}!"

In [72]:
greet("Alice")

'Hello, Alice!'

### *args
This is a way to provide multiple positional arguments to a function

In [74]:
def my_func(*args):
    for arg in args:
        print(arg)

In [75]:
my_func(1, 2, 3, 'bob', 'hello', True)

1
2
3
bob
hello
True

In [76]:
my_arguments = ('a', 12, 25, 46, True, 3.14)
my_func(*my_arguments)

a
12
25
46
True
3.14

### **kwargs
This is a way to pass multiple keywork arguments to a function

In [77]:
def another_func(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [79]:
another_func(name='Alice', age=30, city='New York')

name: Alice
age: 30
city: New York

In [80]:
d = {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}

In [81]:
another_func(**d)

name: Bob
age: 25
city: Los Angeles

In [83]:
def function_name(a, b, c, *my_args, **my_kwargs):
    pass

### Type Hinting

In [84]:
s : str = 'abcdefg' #s is a type hint indicating that the variable s is expected to be of type str

In [85]:
def add_numbers(x: int | float, y: int | float) -> int | float:
    return x + y

In [86]:
add_numbers('abc', 'def')

'abcdef'

### Return multiple values from the function

In [87]:
def add_and_subtract(a, b):
    sum_result = a + b
    subtract_result = a - b
    return sum_result, subtract_result

In [88]:
add_and_subtract(10, 5)

(15, 5)

In [89]:
def add_and_subtract(a, b):
    output = {
        'sum': a + b,
        'difference': a - b     
    }
    return output

In [90]:
add_and_subtract(10, 5)

{'sum': 15, 'difference': 5}

`assert` statement

In [93]:
x = 5
assert x == 5, "x should be equal to 5"

In [96]:
y = 25
assert y % 3 == 0, "y should be divisible by 3"

AssertionError: y should be divisible by 3

In [97]:
def add_numbers(num1: int | float, num2: int | float) -> int | float:
    """
    Description: This function adds two numbers and returns the sum.
    Args:
    - num1: int or float, First number to be added
    - num2: int or float, Second number to be added
    
    Returns:
    - int or float, Sum of num and num2
    
    """
    assert type(num1) == int or type(num1) == float, "num1 should be int or float"
    assert type(num2) == int or type(num2) == float, "num2 should be int or float"
    return num1 + num2

In [98]:
add_numbers(10, 20)

30

In [99]:
add_numbers('sa', 876)

AssertionError: num1 should be int or float

In [118]:
# factorial of a positive number

def factorial(n):
    """
    Description: This function calculates the factorial of a positive integer n.
    Args:
    - n: int, A positive integer whose factorial is to be calculated
    Returns:
    - int, Factorial of the input number n
    """
    
    assert type(n) == int and n >= 0, "n should be a positive integer"
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

In [102]:
factorial(5)

120

### Binomial Coefficient

$$\binom{n}{k} = \frac{n!}{k!(n-k)!}

In [103]:
def binom_coeff(n: int, k: int) -> int:
    """
    Description: This function calculates the binomial coefficient C(n, k).
    Args:
    - n: int, Total number of items
    - k: int, Number of items to choose
    
    Returns:
    - int, Binomial coefficient C(n, k)
    """
    assert type(n) == int and n >= 0, "n should be a non-negative integer"
    assert type(k) == int and 0 <= k <= n, "k should be an integer between 0 and n"
    
    def factorial(num: int) -> int:
        if num == 0 or num == 1:
            return 1
        result = 1
        for i in range(2, num + 1):
            result *= i
        return result
    
    return factorial(n) // (factorial(k) * factorial(n - k))

In [105]:
binom_coeff(6, 2)

15

#### Python try, except (Exception handling)

``` python
try :
    try block lets you test a block of code for errors
except <errortype-1>:
    this block lets you handle the error for error type-1
except <errortype-2>:
    this block lets you handle the error for error type -2
else: 
    this block will execute when there is no error
finally:
    this block will execute code, regardless of the try and except block
```

In [106]:
print(abc)

NameError: name 'abc' is not defined

In [113]:
try:
    x = 10
    y = 0
    print(x/y)
except NameError:
    print("Variable 'abc' is not defined.")
except Exception as e:
    print(f"same other error occured, error: {e}")

same other error occured, error: division by zero

In [119]:
try:
    v = factorial(7.5)
except Exception as e:
    print(f'Error: {e}')
else:
    print(v)
finally:
    print("Execution completed.")

Error: n should be a positive integer
Execution completed.

### map() function in python

```python
def my_func(value):
    <some calculation>
    return output

my_list = [v1, v2, ..., vn]
x = map(my_func, my_list) # x is a python map object
y = list(map(my_func, my_list)) # produces a list with the my_func applied on each value of my list
```

In [120]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [121]:
list_of_numbers = [1, 2, 3, 4, 5]
list(map(factorial, list_of_numbers))

[1, 2, 6, 24, 120]

In [124]:
[factorial(x) for x in list_of_numbers ]

[1, 2, 6, 24, 120]

### filter() function

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers

[0, 2, 4, 6, 8]

In [127]:
[x for x in numbers if x % 2 == 0]

[0, 2, 4, 6, 8]

In [3]:
with open('my.txt', 'r') as myFile:
    print(myFile.read())

My namne is sanusi
I am a man

In [4]:
with open('my.txt', 'a') as myFile:
    myFile.write('\nThis is a new line added to the file.')